.loginMainDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    width: 100%;
    max-width: 400px;
    /* Adjust width for larger screens */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
    .loginMainDiv {
        width: 90%;
        max-width: 300px;
    }
}

.closingBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* Ensure padding and border are included in width */
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    /* Adjust font size for readability */
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 0;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.password-reset {
    text-align: center;
    position: relative;
    width: 180px;
    padding: 10px;
    border: 0.1vw solid;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);

}

.password-reset:hover {
    cursor: pointer;
}